<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab3tema.Properties.Settings.catalog_virtualConnectionString"
            connectionString="Server=DESKTOP-H9AHHS4\SQLEXPRESS;Database=catalog_virtual;Integrated Security=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Server=DESKTOP-H9AHHS4\SQLEXPRESS;Database=catalog_virtual;Integrated Security=true;"/>

		<add key="parentTable" value="Orase"/>
		<add key="childTable" value="Scoli"/>
		<!-- Scoli -->
		<!-- Profile -->
		
		<add key="pkColumn" value="id_oras" />
		<add key="fkColumn" value="id_oras" />
		<!-- id_scoala -->
		
		<add key="fkConstraint" value="FK_Scoli_Orase"/>

	</appSettings>
</configuration>